.container
  .col-sm-12.row
    .col-sm-4
      .col-sm-12.col-center
        %a{href: descriptions_path}
          .well
            %br
            %h3.text-center{style: "color: black;"} Manage Master Data
            %br

    .col-sm-4
      .col-sm-12.col-center
        %a{href: permissions_path}
          .well
            %br
            %h3.text-center{style: "color: black;"} Manage Permissions
            %br

    .col-sm-4
      .col-sm-12.col-center
        %a{href: new_reference_list_path}
          .well
            %br
            %h3.text-center{style: "color: black;"} Manage Reference List
            %br
