.container
  .col-sm-5.col-center{style: "margin-top:10%"}
    .panel.panel-default
      .panel-heading
        %h3.panel-title Page not found
      .panel-body
        The page you are trying to access dose not exist.
